---
layout: default
title: Upcoming events
---

<!-- example: to include the latest post. to-do: include all posts with tag upcoming_event -->

<ul class="blog-index">
{% for post in site.posts %}
    {% if post.categories contains 'upcoming_event' %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
    <div class="entry-content">{{ post.content | strip_html | truncatewords:20}}</div>
    </li>
    {% endif %}
{% endfor %}
</ul>